main{
	padding: 0px;
	position: relative;
}
.airzonesSide{
	width: 352px;
	position: absolute;
	z-index: 1000;

	top: 0px;
	bottom: 0;
	left: 1px;
	overflow-y: auto;
	transform: translateX(0);
	opacity: 1;
	height: calc(100% - 20px);
	padding: 10px;
}

.tituloSide{
	font-size: 25px !important;
	margin: 0px !important;
	font-weight: bold;
	color: hsl(100 0% 19%);
}


.airzonesSide details{
	margin-bottom: 5px;
}

.airzoneCont{
	height: clamp(100px, 22vh, 200px);

}
@media (max-height: 720px) {
  .airzoneCont {
    height: clamp(100px, 10vh, 200px);
  }
}

@media (max-width: 768px) and (orientation: portrait) {
	.airzonesSide{
		width: calc(100% - 20px);
		position: initial;
		border-right: none;
		border-bottom: 1px solid hsl(0 0% 85%);
		overflow: clip;
		display: grid;
		grid-template-rows: 1fr;
	}
}

.airzoneSearch{
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
}
.airzoneSearch > button{
	width: 50px;
	padding: 6px;
	font-size: 15px;
}