@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Stack+Sans+Headline:wght@200..700&display=swap');

html,body{
	padding: 0;
	margin: 0;
	font-family: "Momo Trust Display", sans-serif;
	background-color: hsl(0, 0%, 95%);

}

header{
	background-color: #1b5fac;
	font-size: 26px;
	padding: 6px 10px;
	color: white;
}

.TabCardCont{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	gap: 10px;
	padding: 5px;
	margin: 5px;
}
.TabCard{
	padding: 7px;
	background-color: white;
	border: 2px solid hsl(0 0% 85%);
	border-radius: 10px;
	display: flex;
	gap: 10px;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 5px hsla(0, 0%, 0%, 0.03), 0px 4px 5px hsla(0, 0%, 0%, 0.02);

}
.TabCardTitle{
	font-size: 19px;
	color: hsl(0, 0%, 20%);

}

.TabCardContent{
	display: flex;
	flex-direction: column;
}
.tabCardIcon{
	font-size: 28px;
	padding: 5px;
	background-color:  hsl(0, 0%, 30%);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 5px;
}

.TabCard:hover{
	cursor: pointer;
	filter: brightness(90%);
}

footer{
	position: absolute;
	bottom:0;
  left:0;
	background-color: white;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid hsl(0 0% 85%);
	font-size: 14px;
	color: hsl(0, 0%, 35%);

}